In [1]:
{
    "nbformat": 4.0,
    "nbformat_minor": 5
}

{'nbformat': 4.0, 'nbformat_minor': 5}

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. Therefore if SpaceX can determine if the first stage will land, we can determine the cost of a launch.

### Download the datasets and Create a DB of File

In [41]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [43]:
import pandas as pd
df = pd.read_csv("Spacex.csv")
df.head(5)
#print(df['Launch_Site'].nunique())

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing _Outcome
0,04-06-2010,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,08-12-2010,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,22-05-2012,07:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,08-10-2012,00:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,01-03-2013,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case they are enclose in double quotes






##### Generate a query to display the names of the unique launch sites  in the space mission

In [44]:
launch_sites = df['Launch_Site'].unique()

# Print the unique launch sites
print('Unique launch sites:')
for site in launch_sites:
    print(site)

Unique launch sites:
CCAFS LC-40
VAFB SLC-4E
KSC LC-39A
CCAFS SLC-40



#### Create a query to find and display the total payload mass carried by boosters launched by NASA (CRS)

In [45]:
#display the total number of boosters launched by NASA CRS
import pandas as pd
filtered_df = df.loc[df['Customer'] == 'NASA (CRS)']
Total_Payload_Mass_Carried= filtered_df['PAYLOAD_MASS__KG_'].sum()
print('Total Payload Mass Carried by NASA (CRS):', Total_Payload_Mass_Carried, 'kg')

Total Payload Mass Carried by NASA (CRS): 45596 kg




##### Query the average payload mass carried by booster version F9 v1.1

In [46]:
#display average payload mass carried by boosters version f9 v1.1
df1 = df.loc[df['Booster_Version'] == 'F9 v1.1']

#filter the data to only include average payload mass
df1 = df1['PAYLOAD_MASS__KG_'].mean()

print('Average Payload Mass Carried by F9 v1.1:', df1, 'kg')

Average Payload Mass Carried by F9 v1.1: 2928.4 kg



##### Here we find the date when the first successful landing outcome in ground pad was achieved.

In [47]:
import pandas as pd

df2 = df.loc[df["Landing _Outcome"] == 'Success (ground pad)']
df2 = df2['Date']

print('First Landing Success (ground pad):', df2.iloc[0])

First Landing Success (ground pad): 22-12-2015

##### Create a query to generate a list with the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [48]:

df3 = df.loc[(df["Landing _Outcome"] == 'Success (drone ship)') & (df["PAYLOAD_MASS__KG_"] > 4000) & (df["PAYLOAD_MASS__KG_"] < 6000)]

df3 = df3[['Booster_Version', 'PAYLOAD_MASS__KG_', 'Landing _Outcome']]
print('Successful Landing Outcomes for Payload Mass between 4000 and 6000 kg:')
df3 = pd.DataFrame(df3)
df3

Successful Landing Outcomes for Payload Mass between 4000 and 6000 kg:

   Booster_Version  PAYLOAD_MASS__KG_      Landing _Outcome
23     F9 FT B1022               4696  Success (drone ship)
27     F9 FT B1026               4600  Success (drone ship)
31  F9 FT  B1021.2               5300  Success (drone ship)
42  F9 FT  B1031.2               5200  Success (drone ship)


##### Query a list count of the total number of successful and failure mission outcomes

In [49]:
#list the total number of sucessful and failure mission outcomes
df4 = df['Mission_Outcome'].value_counts()
df4 = pd.DataFrame(df4)
df4

                                  Mission_Outcome
Success                                        98
Failure (in flight)                             1
Success (payload status unclear)                1
Success                                         1


#### Subquery a list with the names of the booster_versions which have carried the maximum payload mass.

In [50]:
df5 = df.loc[df['PAYLOAD_MASS__KG_'] == df['PAYLOAD_MASS__KG_'].max()]
df5 = df5[['Booster_Version', 'PAYLOAD_MASS__KG_']]
df5= pd.DataFrame(df5)
df5

   Booster_Version  PAYLOAD_MASS__KG_
74   F9 B5 B1048.4              15600
77   F9 B5 B1049.4              15600
79   F9 B5 B1051.3              15600
80   F9 B5 B1056.4              15600
82   F9 B5 B1048.5              15600
83   F9 B5 B1051.4              15600
85   F9 B5 B1049.5              15600
92  F9 B5 B1060.2               15600
93  F9 B5 B1058.3               15600
94   F9 B5 B1051.6              15600
95   F9 B5 B1060.3              15600
99  F9 B5 B1049.7               15600


#### Create a query to generate a list of records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

In [51]:
df['Year'] = pd.DatetimeIndex(df['Date']).year
df['Month'] = pd.DatetimeIndex(df['Date']).month_name()

df6 = df.loc[(df['Year'] == 2015) & (df['Landing _Outcome'] == 'Failure (drone ship)')]
df6 = df6[['Month','Year', 'Landing _Outcome', 'Booster_Version', 'Launch_Site']]
df6

C:\Users\ktpra\AppData\Local\Temp\ipykernel_5548\3522919281.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['Year'] = pd.DatetimeIndex(df['Date']).year
C:\Users\ktpra\AppData\Local\Temp\ipykernel_5548\3522919281.py:2: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['Month'] = pd.DatetimeIndex(df['Date']).month_name()

      Month  Year      Landing _Outcome Booster_Version  Launch_Site
13  October  2015  Failure (drone ship)   F9 v1.1 B1012  CCAFS LC-40
16    April  2015  Failure (drone ship)   F9 v1.1 B1015  CCAFS LC-40

## Author(s)

<h4> Kadeem Pratt    </h4>